@model Product

<div class="col">
    <div class="card h-100">
        <img height="130" src="@Model.ImageUrl" class="card-img-top" alt="@Model.Name">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">
                @Model.Category?.Name<br />
                Left: @Model.Quantity</p>
            <a asp-controller="Cart" asp-action="Add" asp-route-id="@Model.Id" class="btn btn-primary">Add to Cart</a>
        </div>
        <div class="card-footer">
            <small class="text-muted">
                Price: <span class="badge bg-secondary">@Model.Price$</span>
            </small>
        </div>
    </div>
</div>