@model ProductDto

<div class="text-center">
    <h1>@Model.Name</h1>

    <img src="@Model.ImageUrl" height="300" />

    <p>Price: @Model.Price$</p>

    <a asp-controller="Cart" asp-action="Add" asp-route-id="@Model.Id" asp-route-returnUrl="@Context.Request.Path" class="btn btn-primary">Add to Cart</a>
</div>
